extends layout

block content
  .w3-card-4
    header.w3-container.w3-purple
      h1 Novo Acórdão

    form.w3-container(method="POST")
        fieldset
            legend Metadata
            label Nº Convencional
            input.w3-input.w3-round(type="text" name="Nº Convencional")
            label Acordão
            input.w3-input.w3-round(type="text" name="Acordão")
            label Processo
            input.w3-input.w3-round(type="text" name="Processo")
            label Relator
            input.w3-input.w3-round(type="text" name="Relator")
            label Descritores
            input.w3-input.w3-round(type="text" name="Descritores")
            label Nº do Documento
            input.w3-input.w3-round(type="text" name="Nº do Documento")
            label Data do Acordão
            input.w3-input.w3-round(type="date" name="Data do Acordão")
            label Espécie
            input.w3-input.w3-round(type="text" name="Espécie")
            label Requerente
            input.w3-input.w3-round(type="text" name="Requerente")
            label Requerido
            input.w3-input.w3-round(type="text" name="Requerido")
            label Votação
            input.w3-input.w3-round(type="text" name="Votação")
            label Privacidade
            input.w3-input.w3-round(type="text" name="Privacidade")
            label Normas Apreciadas
            input.w3-input.w3-round(type="text" name="Normas Apreciadas")
            label Normas Julgadas Inconst.
            input.w3-input.w3-round(type="text" name="Normas Julgadas Inconst.")
            label Área Temática 1
            input.w3-input.w3-round(type="text" name="Área Temática 1")
            label Área Temática 2
            input.w3-input.w3-round(type="text" name="Área Temática 2")
            label Decisão
            input.w3-input.w3-round(type="text" name="Decisão")
            label Sumário
            input.w3-input.w3-round(type="text" name="Sumário")
            label Texto Integral
            input.w3-input.w3-round(type="text" name="Texto Integral")
            label url
            input.w3-input.w3-round(type="text" name="url")
            label Tribunal
            input.w3-input.w3-round(type="text" name="tribunal" value="atco1" readonly)
            
        button.w3-btn.w3-purple.w3-mb-2(type="submit") Register

    footer.w3-container.w3-indigo
        p #[a(href="/") Voltar]
