extends layout

block content
  .w3-card-4
    header.w3-container.w3-brown
      h1 Novo Acórdão
    
    .w3-container
      h2 
        b Selecione o Tribunal:

      .botoes
        button.w3-button.botao
          a(href="/acordaos/registo/atco1") atco1
        button.w3-button.botao
          a(href="/acordaos/registo/jcons") jcons
        button.w3-button.botao
          a(href="/acordaos/registo/jdgpj") jdgpj
        button.w3-button.botao
          a(href="/acordaos/registo/jsta") jsta 
        button.w3-button.botao
          a(href="/acordaos/registo/jstj") jstj
        button.w3-button.botao
          a(href="/acordaos/registo/jtca") jtca
        button.w3-button.botao
          a(href="/acordaos/registo/jtcampca") jtcampca
      .botoes
        button.w3-button.botao
          a(href="/acordaos/registo/jtcampct") jtcampct
        button.w3-button.botao
          a(href="/acordaos/registo/jtcn") jtcn
        button.w3-button.botao
          a(href="/acordaos/registo/jtrc") jtrc
        button.w3-button.botao
          a(href="/acordaos/registo/jtre") jtre
        button.w3-button.botao
          a(href="/acordaos/registo/jtrg") jtrg
        button.w3-button.botao
          a(href="/acordaos/registo/jtrl") jtrl
        button.w3-button.botao
          a(href="/acordaos/registo/jtrp") jtrp
        
        
    footer.w3-container.w3-brown
        p #[a(href="/") Voltar]
