extends layout

block content
  .w3-card-4
    header.w3-container.w3-brown
      h1 Novo Acórdão

    form.w3-container(method="POST")
        fieldset
            legend Metadata
            label Processo
            input.w3-input.w3-round(type="text" name="Processo")
            label Tribunal 1ª instância
            input.w3-input.w3-round(type="date" name="Tribunal 1ª instância")
            label Juízo ou Secção
            input.w3-input.w3-round(type="text" name="Juízo ou Secção")
            label Tipo de Ação
            input.w3-input.w3-round(type="text" name="Tipo de Ação")
            label Tipo de Contrato
            input.w3-input.w3-round(type="text" name="Tipo de Contrato")
            label Autor
            input.w3-input.w3-round(type="text" name="Autor")
            label Réu
            input.w3-input.w3-round(type="date" name="Réu")
            label Data da Decisão
            input.w3-input.w3-round(type="text" name="Data da Decisão")
            label Descritores
            div(id="dataContainer")
              button(type="button" id="addButton") +
            label Texto das Cláusulas Abusiva
            input.w3-input.w3-round(type="text" name="Texto das Cláusulas Abusivas")
            label Recursos
            input.w3-input.w3-round(type="text" name="Recursos")
            label Texto Integral
            input.w3-input.w3-round(type="text" name="Texto Integral")
            label url
            input.w3-input.w3-round(type="text" name="url")
            label Tribunal
            input.w3-input.w3-round(type="text" name="tribunal" value="jdgpj" readonly)
            
        button.w3-btn.w3-green.w3-mb-2(type="submit") Register

    footer.w3-container.w3-brown
        p #[a(href="/") Voltar]

    script(type="text/javascript").
      $(document).ready(function() {
        var index = 0;

        $('#addButton').click(function() {
          var inputContainer = $('<div>').addClass('inputContainer');
          var input = $('<input>').attr('type', 'text').attr('name', `Descritores-${index}`);
          var removeButton = $('<button>').attr('type', 'button').addClass('removeButton').text('-');

          inputContainer.append(input, removeButton);
          $('#dataContainer').append(inputContainer);
          index++;
        });

        $(document).on('click', '.removeButton', function() {
          $(this).closest('.inputContainer').remove();
          index--;
        });
      });