extends layout

block content
  .w3-card-4
    header.w3-container.w3-brown
      h1 Novo Acórdão

    form.w3-container(method="POST")
        fieldset
            legend Metadata
            label Processo
            input.w3-input.w3-round(type="text" name="Processo")
            label Data do Acordão
            input.w3-input.w3-round(type="date" name="Data do Acordão")
            label Tribunal
            input.w3-input.w3-round(type="date" name="Tribunal")
            label Relator
            input.w3-input.w3-round(type="text" name="Relator")
            label Descritores
            input.w3-input.w3-round(type="text" name="Descritores")
            label Nº Convencional
            input.w3-input.w3-round(type="text" name="Nº Convencional")
            label Nº do Documento
            input.w3-input.w3-round(type="text" name="Nº do Documento")
            label Data de Entrada
            input.w3-input.w3-round(type="date" name="Data de Entrada")
            label Recorrente
            input.w3-input.w3-round(type="text" name="Recorrente")
            label Recorrido 1
            input.w3-input.w3-round(type="text" name="Recorrido 1")
            label Votação
            input.w3-input.w3-round(type="text" name="Votação")
            label Texto Integral
            input.w3-input.w3-round(type="text" name="Texto Integral")
            label url
            input.w3-input.w3-round(type="text" name="url")
            label Tribunal
            input.w3-input.w3-round(type="text" name="tribunal" value="jsta" readonly)
            
        button.w3-btn.w3-green.w3-mb-2(type="submit") Register

    footer.w3-container.w3-brown
        p #[a(href="/") Voltar]
