extends layout

block content
  .w3-card-4
    header.w3-container.w3-purple
      h1 Novo Acórdão

    form.w3-container(method="POST")
        fieldset
            legend Metadata
            label Contencioso
            input.w3-input.w3-round(type="text" name="contencioso")
            label Peça Processual
            input.w3-input.w3-round(type="text" name="pecaprocessual")
            label Data
            input.w3-input.w3-round(type="date" name="data")
            label Processo
            input.w3-input.w3-round(type="text" name="processo")
            label Nº Processo/TAF
            input.w3-input.w3-round(type="text" name="nprocesso")
            label Sub-Secção
            input.w3-input.w3-round(type="text" name="subseccao")
            label Magistrado
            input.w3-input.w3-round(type="text" name="magistrado")
            label Descritores
            input.w3-input.w3-round(type="text" name="descritores")
            label Tema
            input.w3-input.w3-round(type="text" name="tema")
            label url
            input.w3-input.w3-round(type="text" name="url")
            label Tribunal
            input.w3-input.w3-round(type="text" name="tribunal" value="jtcampct" readonly)
            
        button.w3-btn.w3-purple.w3-mb-2(type="submit") Register

    footer.w3-container.w3-indigo
        p #[a(href="/") Voltar]
