extends layout

block content
  .w3-card-4
    header.w3-container.w3-brown
      h1 Novo Acórdão

    form.w3-container(method="POST")
        fieldset
            legend Metadata
            label Contencioso
            input.w3-input.w3-round(type="text" name="Contencioso")
            label Peça Processual
            input.w3-input.w3-round(type="text" name="Peça Processual")
            label Data
            input.w3-input.w3-round(type="date" name="Data")
            label Processo
            input.w3-input.w3-round(type="text" name="Processo")
            label Nº Processo/TAF
            input.w3-input.w3-round(type="text" name="Nº Processo/TAF")
            label Sub-Secção
            input.w3-input.w3-round(type="text" name="Sub-Secção")
            label Magistrado
            input.w3-input.w3-round(type="text" name="Magistrado")
            label Descritores
            div(id="dataContainer")
              button(type="button" id="addButton") +
            label Tema
            input.w3-input.w3-round(type="text" name="Tema")
            label url
            input.w3-input.w3-round(type="text" name="url")
            label Tribunal
            input.w3-input.w3-round(type="text" name="tribunal" value="jtcampct" readonly)
            
        button.w3-btn.w3-green.w3-mb-2(type="submit") Register

    footer.w3-container.w3-brown
        p #[a(href="/") Voltar]

    script(type="text/javascript").
      $(document).ready(function() {
        var index = 0;

        $('#addButton').click(function() {
          var inputContainer = $('<div>').addClass('inputContainer');
          var input = $('<input>').attr('type', 'text').attr('name', `Descritores-${index}`);
          var removeButton = $('<button>').attr('type', 'button').addClass('removeButton').text('-');

          inputContainer.append(input, removeButton);
          $('#dataContainer').append(inputContainer);
          index++;
        });

        $(document).on('click', '.removeButton', function() {
          $(this).closest('.inputContainer').remove();
          index--;
        });
      });