extends layout

block content
  .w3-card-4
    header.w3-container.w3-purple
      h1 Novo Acórdão

    form.w3-container(method="POST")
        fieldset
            legend Metadata
            label Processo
            input.w3-input.w3-round(type="text" name="processo")
            label Secção
            input.w3-input.w3-round(type="text" name="seccao")
            label Data do Acordão
            input.w3-input.w3-round(type="date" name="dataacordao")
            label Relator
            input.w3-input.w3-round(type="text" name="relator")
            label Descritores
            input.w3-input.w3-round(type="text" name="descritores")
            label Votação
            input.w3-input.w3-round(type="text" name="votacao")
            label Decisão Texto Integral
            input.w3-input.w3-round(type="text" name="decisaotextointegral")
            label url
            input.w3-input.w3-round(type="text" name="url")
            label Tribunal
            input.w3-input.w3-round(type="text" name="tribunal" value="jtca" readonly)
            
        button.w3-btn.w3-purple.w3-mb-2(type="submit") Register

    footer.w3-container.w3-indigo
        p #[a(href="/") Voltar]
