extends layout

block content
  .w3-card-4
    header.w3-container.w3-brown
      h1 Novo Acórdão

    form.w3-container(method="POST")
        fieldset
            legend Metadata
            label Processo
            input.w3-input.w3-round(type="text" name="Processo")
            label Relator
            input.w3-input.w3-round(type="text" name="Relator")
            label Descritores
            input.w3-input.w3-round(type="text" name="Descritores")
            label Data do Acordão
            input.w3-input.w3-round(type="date" name="Data do Acordão")
            label Votação
            input.w3-input.w3-round(type="text" name="Votação")
            label Texto Integral
            input.w3-input.w3-round(type="text" name="Texto Integral")
            label Sumário
            input.w3-input.w3-round(type="text" name="Sumário")
            label Decisão Texto Integral
            input.w3-input.w3-round(type="text" name="Decisão Texto Integral")
            label url
            input.w3-input.w3-round(type="text" name="url")
            label Tribunal
            input.w3-input.w3-round(type="text" name="tribunal" value="jtre" readonly)
            
        button.w3-btn.w3-green.w3-mb-2(type="submit") Register

    footer.w3-container.w3-brown
        p #[a(href="/") Voltar]
