extends layout

block content
  .w3-card-4
    header.w3-container.w3-purple
      h1 Novo Acórdão

    form.w3-container(method="POST")
        fieldset
            legend Metadata
            label Processo
            input.w3-input.w3-round(type="text" name="processo")
            label Relator
            input.w3-input.w3-round(type="text" name="relator")
            label Descritores
            input.w3-input.w3-round(type="text" name="descritores")
            label Nº do Documento
            input.w3-input.w3-round(type="text" name="ndocumento")
            label Data do Acordão
            input.w3-input.w3-round(type="date" name="dataacordao")
            label Votação
            input.w3-input.w3-round(type="text" name="votacao")
            label Texto Integral
            input.w3-input.w3-round(type="text" name="textointegral")
            label Meio Processual
            input.w3-input.w3-round(type="text" name="meioprocessual")
            label Decisão
            input.w3-input.w3-round(type="text" name="decisao")
            label Indicações Eventuais
            input.w3-input.w3-round(type="text" name="indicacoeseventuais")
            label Sumário
            input.w3-input.w3-round(type="text" name="sumario")
            label url
            input.w3-input.w3-round(type="text" name="url")
            label Tribunal
            input.w3-input.w3-round(type="text" name="tribunal" value="jtrg" readonly)
            
        button.w3-btn.w3-purple.w3-mb-2(type="submit") Register

    footer.w3-container.w3-indigo
        p #[a(href="/") Voltar]
