doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/code.jquery.com_jquery-3.7.0.min.js')
  body
    block content
