extends layout

block content
    .w3-card-4
        header.w3-container.w3-brown
            h1 Lista de Acordãos - Registo
        
        form(action="/register", method="post")
            .input-group
                label.w3-text-brown
                    b Usuário
                input.w3-input.w3-border.w3-sand(type="text", placeholder="Digite seu usuário", name="username")

                label.w3-text-brown
                    b Senha
                input.w3-input.w3-border.w3-sand(type="password", placeholder="Digite sua senha", name="password")

                label.w3-text-brown
                    b Confirmar senha
                input.w3-input.w3-border.w3-sand(type="password", placeholder="Confirme sua senha", name="password2")

            .input-group
                label.w3-text-brown
                    b Email
                input.w3-input.w3-border.w3-sand(type="text", placeholder="Digite seu email", name="email")

                label.w3-text-brown
                    b Filiação 
                input.w3-input.w3-border.w3-sand(type="text", placeholder="Digite sua filiação", name="filiacao")

            button.w3-btn.w3-green(type="submit" name="submit") Registar

        footer.w3-container.w3-brown
            p Voltar para a #[a(href="/") Página inicial]

        script.
            var password = document.getElementsByName("password")[0];
            var password2 = document.getElementsByName("password2")[0];
            var submit = document.getElementsByName("submit")[0];

            submit.addEventListener("click", function(event) {
                if (password.value != password2.value) {
                    event.preventDefault();
                    alert("As senhas não coincidem!");
                }
            });