body {
  background-color: #fffef6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.dropdown-check-list {
  display: inline-block;
  width: 100%;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
  padding: 5px;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  padding: 5px;
}

.dropdown-check-list ul.items li {
  list-style: none;
  padding: 5px;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-right: 1%;
  padding-left: 1%;
}

.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}

.header-mid {
  justify-content: center;
}

.filtros {
  height: fit-content;
  border-style: solid;
  border-width: medium;
  border-color: #47281b;
  border-radius: 5px;
  flex-basis: 15%;
}

.filtros-header{
  text-align: center;
}

.filtros-corpo {
  justify-content: center;
}

.processos {
  flex-grow: 1;
}

.corpo {
  display: flex;
}

.processo {
  border-style: solid;
  border-width: medium;
  border-color: #47281b;
  margin-bottom: 0.5%;
  border-radius: 5px;
}

.conteudo-processo{
  padding: 1%;
}

.botoes{
  width: 100%;
  display: flex;
  justify-content: center;
}

.paginacao{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.botao-tribunal {
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  width: 6%;
  text-justify: center;
  margin: 0.1%;
}

.botao-modal {
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  width: 10%;
  text-justify: center;
  margin: 0.1%;
}

.favorito {
  display: flex;
  justify-content: right;
}

.garbage {
  border: 0;
  color: red;
  background: none;
  cursor: pointer;
  font-size: 1.5em;
}

.star {
  border: 0;
  color: #000000;
  background: none;
  cursor: pointer;
  font-size: 1.5em;
}

.star:hover {
  color: #FFDF00;
}

.star-checked {
  color: #FFDF00;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(252, 252, 243);
  border-style: solid;
  border-width: thin;
  border-color: #47281b;
}

.round-modal {
  border-radius: 10px !important;
}

.modal-texto {
  width: 80%;
}

.modal-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1%;
  background-color: #47281b;
  color: white;
  margin-bottom: 1%;
}

.modal-body {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  align-items: center;
}

.barra {
  display: flex;
  margin-bottom: 1%;
  justify-content: center;
  margin-top: 1%;
}

.barra-pesquisa {
  display: flex; /* Use flexbox for the barra-pesquisa container */
  align-items: center; /* Vertically center the items */
  width: 50%;
  border-style: solid;
  border-width: medium;
  border-color: #47281b;
  border-radius: 5px;
  margin-right: 1%;
}


.help-button {
  border: none; /* Remove the border */
  background-color: grey;
  height: 100%;
}

.botao-pesquisa {
  background-color: lightgray;
  border-style: solid;
  border-width: medium;
  border-color: #47281b;
  border-radius: 5px;
  height: 100%;
}

.texto {
  border:1px solid #999999;
  width:98%;
  margin:5px 0;
  padding:1%;
}