.dropdown-check-list {
  display: inline-block;
  width: 100%;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
  padding: 5px;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  padding: 5px;
}

.dropdown-check-list ul.items li {
  list-style: none;
  padding: 5px;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-right: 1%;
  padding-left: 1%;
}

.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}

.filtros {
  height: fit-content;
  border-style: solid;
  border-width: medium;
  border-color: #47281b;
  border-radius: 5px;
  flex-basis: 15%;
}

.filtros-header{
  text-align: center;
}

.filtros-corpo {
  justify-content: center;
}

.processos {
  flex-grow: 1;
}

.corpo {
  display: flex;
}

.processo {
  border-style: solid;
  border-width: medium;
  border-color: #47281b;
  margin-bottom: 0.5%;
  border-radius: 5px;
}

.conteudo-processo{
  padding: 1%;
}

.botoes{
  width: 100%;
  display: flex;
  justify-content: center;
}

.paginacao{
  width: 100%;
  display: flex;
  justify-content: space-between;
}